{
    auto_https disable_redirects

    storage file_system {
        root /mnt/data/caddy
    }
}

{$PROTOCOL}://{$NC_DOMAIN}:{$APACHE_PORT} {

    # well-known
    redir /.well-known/carddav {$NC_WEBROOT_P}/remote.php/dav
    redir /.well-known/caldav {$NC_WEBROOT_P}/remote.php/dav
    redir /.well-known/webdav {$NC_WEBROOT_P}/remote.php/dav
    redir /.well-known/webfinger {$NC_WEBROOT_P}/index.php/.well-known/webfinger
    redir /.well-known/nodeinfo {$NC_WEBROOT_P}/index.php/.well-known/nodeinfo


    # Notify Push
    route {$NC_WEBROOT_P}/push/* {
        uri strip_prefix {$NC_WEBROOT_P}/push
        reverse_proxy {$NEXTCLOUD_HOST}:7867 {
            # trusted_proxies placeholder
        }
    }

    # Talk
    route {$NC_WEBROOT_P}/standalone-signaling/* {
        uri strip_prefix {$NC_WEBROOT_P}/standalone-signaling
        reverse_proxy {$TALK_HOST}:8081 {
            # trusted_proxies placeholder
        }
    }

    # Collabora
    route /browser/* {
        reverse_proxy {$COLLABORA_HOST}:9980 {
            # trusted_proxies placeholder
        }
    }
    route /hosting/* {
        reverse_proxy {$COLLABORA_HOST}:9980 {
            # trusted_proxies placeholder
        }
    }
    route /cool/* {
        reverse_proxy {$COLLABORA_HOST}:9980 {
            # trusted_proxies placeholder
        }
    }

    # Onlyoffice
    route {$NC_WEBROOT_P}/onlyoffice/* {
        uri strip_prefix {$NC_WEBROOT_P}/onlyoffice
        reverse_proxy {$ONLYOFFICE_HOST}:80 {
            header_up X-Forwarded-Host {http.request.host}{$NC_WEBROOT_P}/onlyoffice
            header_up X-Forwarded-Proto https
            # trusted_proxies placeholder
        }
    }

    # Nextcloud
    route {$NC_WEBROOT_P}/* {
        # uri_strip_webroot placeholder
        header Strict-Transport-Security max-age=31536000;
        reverse_proxy localhost:8000 {
            # See https://github.com/nextcloud/all-in-one/issues/828
            # trusted_proxies placeholder
        }
    }

    # TLS options
    tls {
        issuer acme {
            disable_http_challenge
        }
    }
}
