{{- if eq .Values.TALK_ENABLED "yes" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -c -f latest.yml --namespace {{ .Values.NAMESPACE }}
    kompose.version: 1.30.0 (9d8dcb518)
  labels:
    io.kompose.service: nextcloud-aio-talk
  name: nextcloud-aio-talk
  namespace: {{ .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: nextcloud-aio-talk
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -c -f latest.yml --namespace {{ .Values.NAMESPACE }}
        kompose.version: 1.30.0 (9d8dcb518)
      labels:
        io.kompose.network/nextcloud-aio: "true"
        io.kompose.service: nextcloud-aio-talk
    spec:
      initContainers:
        - name: init-volumes
          image: alpine
          command:
            - chmod
            - "777"
            - /nextcloud-aio-talk-tmpfs0
            - /nextcloud-aio-talk-tmpfs1
            - /nextcloud-aio-talk-tmpfs2
            - /nextcloud-aio-talk-tmpfs3
            - /nextcloud-aio-talk-tmpfs4
          volumeMounts:
            - name: nextcloud-aio-talk-tmpfs4
              mountPath: /nextcloud-aio-talk-tmpfs4
            - name: nextcloud-aio-talk-tmpfs3
              mountPath: /nextcloud-aio-talk-tmpfs3
            - name: nextcloud-aio-talk-tmpfs2
              mountPath: /nextcloud-aio-talk-tmpfs2
            - name: nextcloud-aio-talk-tmpfs1
              mountPath: /nextcloud-aio-talk-tmpfs1
            - name: nextcloud-aio-talk-tmpfs0
              mountPath: /nextcloud-aio-talk-tmpfs0
      containers:
        - env:
            - name: INTERNAL_SECRET
              value: "{{ .Values.TALK_INTERNAL_SECRET }}"
            - name: NC_DOMAIN
              value: "{{ .Values.NC_DOMAIN }}"
            - name: SIGNALING_SECRET
              value: "{{ .Values.SIGNALING_SECRET }}"
            - name: TALK_PORT
              value: "{{ .Values.TALK_PORT }}"
            - name: TURN_SECRET
              value: "{{ .Values.TURN_SECRET }}"
            - name: TZ
              value: "{{ .Values.TIMEZONE }}"
          image: nextcloud/aio-talk:20230912_084059-latest
          name: nextcloud-aio-talk
          ports:
            - containerPort: {{ .Values.TALK_PORT }}
              hostPort: {{ .Values.TALK_PORT }}
              protocol: TCP
            - containerPort: {{ .Values.TALK_PORT }}
              hostPort: {{ .Values.TALK_PORT }}
              protocol: UDP
            - containerPort: 8081
              hostPort: 8081
              protocol: TCP
          securityContext:
            readOnlyRootFilesystem: true
          volumeMounts:
            - mountPath: /var/log/supervisord
              name: nextcloud-aio-talk-tmpfs0
            - mountPath: /var/run/supervisord
              name: nextcloud-aio-talk-tmpfs1
            - mountPath: /opt/eturnal/run
              name: nextcloud-aio-talk-tmpfs2
            - mountPath: /conf
              name: nextcloud-aio-talk-tmpfs3
            - mountPath: /tmp
              name: nextcloud-aio-talk-tmpfs4
      volumes:
        - emptyDir: {}
          name: nextcloud-aio-talk-tmpfs0
        - emptyDir: {}
          name: nextcloud-aio-talk-tmpfs1
        - emptyDir: {}
          name: nextcloud-aio-talk-tmpfs2
        - emptyDir: {}
          name: nextcloud-aio-talk-tmpfs3
        - emptyDir: {}
          name: nextcloud-aio-talk-tmpfs4
{{- end }}
