{{- if eq .Values.WHITEBOARD_ENABLED "yes" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -c -f latest.yml --namespace "{{ .Values.NAMESPACE }}"
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: nextcloud-aio-whiteboard
  name: nextcloud-aio-whiteboard
  namespace: "{{ .Values.NAMESPACE }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: nextcloud-aio-whiteboard
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -c -f latest.yml --namespace "{{ .Values.NAMESPACE }}"
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: nextcloud-aio-whiteboard
    spec:
      containers:
        - env:
            - name: JWT_SECRET_KEY
              value: "{{ .Values.WHITEBOARD_SECRET }}"
            - name: NEXTCLOUD_URL
              value: https://{{ .Values.NC_DOMAIN }}
            - name: REDIS_HOST
              value: nextcloud-aio-redis
            - name: REDIS_HOST_PASSWORD
              value: "{{ .Values.REDIS_PASSWORD }}"
            - name: STORAGE_STRATEGY
              value: redis
            - name: TZ
              value: "{{ .Values.TIMEZONE }}"
          image: "{{ .Values.IMAGE_MIRROR_PREFIX }}{{ .Values.NEXTCLOUD_IMAGE_ORG }}/aio-whiteboard:20241106_101604"
          name: nextcloud-aio-whiteboard
          ports:
            - containerPort: 3002
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              drop:
                - NET_RAW
            runAsUser: 65534
{{- end }}
