{% extends "layout.twig" %}

{% block body %}
    <div class="login">
        <svg class="nextcloud-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142 100" width="142" height="100">
            <use href="img/nextcloud-logo.svg#logo"></use>
            <use href="img/nextcloud-logo.svg#Nextcloud"></use>
            <text x="10" y="50" fill="var(--color-nextcloud-logo)" class="fallback-text">Nextcloud Logo</text>
        </svg>
        <h2>Nextcloud All-In-One is already installed</h2>
        <p>The password is only shown once on the very first visit of this page.</p>
        <p>If you did not see a password on this page upon first installation, you should re-install the whole instance as the password might have been stolen.</p>
        <p>See <a target="_blank" href="https://github.com/nextcloud/all-in-one#how-to-properly-reset-the-instance">this documentation</a> on the matter.</p>
        <a href="." class="button">Open Nextcloud AIO</a>
    </div>
{% endblock %}
