<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="style.css?v9">
        <link rel="stylesheet" href="logs.css?v2">
        <script>try { document.documentElement.setAttribute('data-theme', localStorage.getItem('theme') ?? ''); } catch (e) {}</script>
        <script src="log-view.js?v1"></script>
    </head>
    <body data-container-id="{{ id }}">
        <div id="floating-box">
            <div class="loader"></div>
            <div id="autoloading-box">
                <div>
                    Automatic loading of new log data is
                    <span id="autoloading-status">enabled</span>.
                </div>
                <button id="autoloading-control">Disable</button>
            </div>
        </div>
        <pre>{{ logContent }}</pre>
    </body>
</html>
