<html lang="en">
    <head>
        <title>AIO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="style.css?v11">
        <link rel="stylesheet" href="logs.css?v1">
        <link rel="icon" href="img/favicon.png">
        <script src="apply-theme.js?v1"></script>
        <script src="log-load.js?v1"></script>
    </head>
    <body data-container-id="{{ id }}">
        <div id="floating-box">
            <div class="loader"></div>
            <div id="autoloading-box">
                <div>
                    Automatic loading of new log data is
                    <span id="autoloading-status">enabled</span>.
                </div>
                <button id="autoloading-control">Disable</button>
            </div>
        </div>
        <pre>{{ logContent }}</pre>
    </body>
</html>
