{% extends "layout.twig" %}

{% block body %}
    <div class="login-wrapper">
        <div class="login">
            <img src="/img/logo-blue.svg" style="margin-left: auto;margin-right: auto;display: block;">
            <h1>Nextcloud AIO Login</h1>
            {% if is_login_allowed == true %}
                <p>Log in using your Nextcloud AIO password:</p>
                <form method="POST" action="/api/auth/login">
                    <input type="password" name="password" placeholder="Password" />
                    <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                    <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                    <input type="submit" class="button" value="Login" />
                </form>
            {% else %}
                <p>The login is blocked since Nextcloud is running. Please use the automatic login from your Nextcloud.<br><br>
                You can unblock the login by running 'sudo docker stop nextcloud-aio-apache'.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

