{% extends "layout.twig" %}

{% block body %}
    <div class="login-wrapper">
        <div class="login">
            <img src="/img/logo-blue.svg" style="margin-left: auto;margin-right: auto;display: block;">
            <h1>Your password for Nextcloud AIO Beta</h1>
            <p>Please note down the password to access the AIO interface and don't loose it!</p>
            <strong>Password</strong><br/> <span class="monospace">{{ password }}</span><br>
            <a href="/" class="button" target="_blank" rel="noopener">Open Nextcloud AIO login ↗</a>
        </div>
    </div>
{% endblock %}
