{% extends "layout.twig" %}

{% block body %}
    <div class="login-wrapper">
        <div class="login">
            <img src="/img/logo-blue.svg" style="margin-left: auto;margin-right: auto;display: block;">
            <h1>All-in-One setup</h1>
            <p>The official Nextcloud installation method. Nextcloud All-in-One provides easy deployment and maintenance with most features included in this one Nextcloud instance.</p>
            <p>⚠️ <b>Please note down the passphrase to access the AIO interface and don't lose it!</b></p>
            <strong>Passphrase</strong><br/> <span class="monospace">{{ password }}</span><br>
            <a href="/" class="button" target="_blank" rel="noopener">Open Nextcloud AIO login ↗</a>
        </div>
    </div>
{% endblock %}
