{
    # auto_https will create redirects for https://{host}:8443 instead of https://{host}
    # https redirects are added manually in the http://:80 block
    auto_https disable_redirects

    storage file_system {
        root /mnt/docker-aio-config/caddy/
    }

    log {
        level ERROR
    }

    servers {
        protocols h1 h2 h2c
    }

    on_demand_tls {
        ask http://127.0.0.1:9876/
    }
}

http://:80 {
    redir https://{host}{uri} permanent
}

https://:8443 {

    reverse_proxy 127.0.0.1:8000

    tls {
        on_demand
        issuer acme {
            disable_tlsalpn_challenge
        }
    }
}
