name: 'Codespell'

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  codespell:
    name: Check spelling
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.0
      - name: Check spelling
        uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2
        with:
          check_filenames: true
          check_hidden: true
