name: Lint Helm Charts

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'nextcloud-aio-helm-chart/**'

jobs:
  lint-helm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4
        with:
          version: v3.11.1

      - name: Lint charts
        run: helm lint nextcloud-aio-helm-chart
