name: Update Psalm baseline

on:
  workflow_dispatch:
  schedule:
    - cron: '5 4 * * *'

jobs:
  update-psalm-baseline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up php8.0
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          extensions: apcu
          coverage: none

      - name: change directory
        run: cd php

      - name: Composer install
        run: composer install

      - name: Psalm
        run: composer run psalm -- --monochrome --no-progress --output-format=text --update-baseline
        continue-on-error: true

      - name: Reset composer
        run: |
          git clean -f lib/composer
          git checkout composer.json composer.lock lib/composer

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          commit-message: Update psalm baseline
          committer: GitHub <noreply@github.com>
          author: nextcloud-command <nextcloud-command@users.noreply.github.com>
          signoff: true
          branch: automated/noid/psalm-baseline-update
          # Make sure we can open multiple PRs
          branch-suffix: timestamp
          title: '[Automated] Update psalm-baseline.xml'
          body: |
            Auto-generated update psalm-baseline.xml with fixed psalm warnings
          labels: |
            3. to review